[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ytapi-json
Exec=/opt/usr/bin/ytapi-jsonviewer
Icon=ytapi-json
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
